.primary-button, .primary-submit-button {
    color: white;
    text-decoration: none;
    background-color: #009c9c;
    padding: 15px 20px;
    cursor: pointer;
}

.secondary-button {
    color: #009c9c;
    text-decoration: none;
    cursor: pointer;
}

.btn-container {
    padding: 10px;
}